
  /* sarabun-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/sarabun-v15-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* sarabun-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/sarabun-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* sarabun-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/sarabun-v15-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/sarabun-v15-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* sarabun-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/sarabun-v15-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* pattaya-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Pattaya';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/pattaya-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  font-family: 'Sarabun';
}



.custom-button {
  @apply relative z-10 overflow-hidden inline-block rounded-full bg-muted-yellow text-black py-2 px-12 text-sm sm:text-base font-bold shadow-lg leading-10;
}

.custom-button picture {
  @apply inline-block mr-2 relative top-[2px];
}

 .custom-button:before {
  @apply absolute block bg-soft-beige bottom-0 left-0 w-full;
  transition: all .6s ease;
  z-index: -1;
  content: "";
  height: 0;

 }

 .custom-button:hover:before {
  height: 4rem;
 }


 .card picture {
  transition: all .4s ease-in-out;
  width: 100%;
  height: 100%;
  position: absolute;
 }

 .card picture::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
 }

.card:hover picture {
  width: 120%;
  height: 120%;
}