---
import { Picture } from "astro:assets";
import Image1 from "../assets/31.png";
import Image2 from "../assets/Unbenannt-29.png";
import Image3 from "../assets/Unbenannt-27.png";
import AccordionItem from "./AccordionItem.astro";
---

<section class="relative bg-[#f3f4f6] pt-12 pb-24">
  <div class="container mx-auto px-4 xl:px-[4%]">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
      <div
        class="card relative z-10 overflow-hidden shadow-xl rounded-3xl p-4 flex justify-center items-center h-80">
        <Picture
          src={Image2}
          alt="Genießen Sie eine traditionelle Thaimassage mit allen Sinnen."
          class="absolute inset-0 z-0 h-full w-full object-cover"
        />
        <p class="relative z-20 text-white text-center text-balance text-xl">
          Genießen Sie eine traditionelle Thaimassage mit allen Sinnen.
        </p>
      </div>

      <div
        class="card relative z-10 overflow-hidden shadow-xl rounded-3xl p-4 flex justify-center items-center h-80">
        <Picture
          src={Image1}
          alt="Spüren Sie die uralte Kraft der Thai-Massage..."
          class="absolute inset-0 z-0 h-full w-full object-cover"
        />
        <p class="relative z-20 text-white text-center text-balance text-xl">
          Spüren Sie die uralte Kraft der Thai-Massage und entspannen Sie Körper
          und Geist mit unseren vielen traditionellen Thai-Massagen.
        </p>
      </div>

      <div
        class="card relative z-10 overflow-hidden shadow-xl rounded-3xl p-4 flex justify-center items-center h-80">
        <Picture
          src={Image3}
          alt="Spüren Sie die uralte Kraft der Thai-Massage..."
          class="absolute inset-0 z-0 h-full w-full object-cover"
        />
        <p class="relative z-20 text-white text-center text-balance text-xl">
          Entdecken Sie die wahren Vorteile einer echten Thaimassage.
        </p>
      </div>
    </div>

    <div class="mt-12">
      <AccordionItem title="Traditionelle Thai-Massage (Nuad Phaen Thai Boran)"
        ><p>
          Die traditionelle Thai-Massage ist eine uralte Kunst, die es seit über
          2.500 Jahren gibt. Die Wurzel liegt in Indien und hat sich bis nach
          Südostasien ausgebreitet. Die Grundlagen der traditionellen
          Thai-Massage und aller anderen Gesundheitslehren wurden vom Lehrer an
          den Schüler weitergereicht. Der gute Ruf der Thai-Massage verbreitete
          sich schnell und blieb bis heute erhalten. Die Massage stimuliert
          insbesondere die Blutzirkulation, Flexibilität und Heilung bei
          Kopfschmerzen, Rückenproblemen, Verspannungen, Müdigkeit oder Angst.
          Die Thai-Massage basiert auf der Lehre der Energielinien.
          Gesundheitliche Probleme entstehen meist, wenn der Energiefluss
          blockiert ist, es ist ratsam regelmässig die Massage zu gönnen.
        </p>
      </AccordionItem>
      <AccordionItem title="Traditionelle Thai Massage"
        ><p>
          Die Massage besteht aus Streck-und Dehnbewegungen hierbei werden über
          sanfte Dehnungen, Druck von Handballen, Daumen bearbeitet. Die Massage
          eignet sich sehr gut zum Lösen von Blockaden und Verspannungen.
        </p>
      </AccordionItem>
      <AccordionItem title="Thai Aromaöl Massage"
        ><p>
          Die Massage besteht aus Streichbewegungen und sanften Druck mit warmen
          ausgewählten Ölen auf dem Körper, verschiedene natürliche Aromen
          stehen für Sie zur Auswahl. Die warmen Steine kommen zum Schluss in
          Einsatz. Man kann dabei vom Alltagsstress abschalten.
        </p>
      </AccordionItem>

      <AccordionItem title="Thai Solution Massage"
        ><p>
          Mit Thai-Solution Massage bieten wir Ihnen die Möglichkeit bei Nacken
          -Schulter-Verspannungen, Rückenschmerzen und Wadenkrämpfen usw.
          gezielt die Problembereiche zu behandeln und Ihre Beschwerden zu
          lindern. Die ersten Anwendungen können schmerzhaft sein, jedoch stellt
          sich auf Grund der Anpassungsfähigkeit der Traditionellen Thai Massage
          schnell ein Behandlungserfolg ein. Sprechen Sie uns einfach an, wir
          beraten Sie gern.
        </p>
      </AccordionItem>

      <AccordionItem
        title="Antistress Massage mit Hotstone oder mit Kräuterstempel"
        ><p>
          Die Anti-Stress-Massage ist eine reine Entspannungsmassage, die die
          Lasten des Alltags abbaut. Wer sich etwas Gutes tun will, gönnt sich
          dieser tolle Massage.
        </p>
        <h3>Mit Hotstone</h3>
        <p>
          Fliessende Bewegungen auf der Haut mit Aromaölen, mit Hilfe warmer
          Steine werden Energiepunkte auf dem Rücken aktiviert. Die Energie kann
          nun wieder besser fliessen. Man kann dabei vom Alltagsstress
          abschalten.
        </p>
        <h3>Mit Kräuterstempel</h3>
        <p>
          In Thailand gibt es verschiedene Kräuter. Heiße Kräuter sollen den
          Energiefluss im Körper stimulieren. Begonnen wird mit einer belebenden
          traditionellen Thaimassage, in der Zwischenzeit wird der Stempel mit
          Wasserdampf erhitzt. Der Kräuterstempel wird im Anschluss direkt auf
          die Haut gedrückt, wo die Kräuter aktiv im Zusammenspiel mit Wärme
          ihre Wirkung entfalten. Das führt zu einer angenehmen Entspannung und
          Entlastung für den Körper.
        </p>
      </AccordionItem>
      <AccordionItem title="Rücken-/Nacken-/Kopfmassage"
        ><p>
          Hier wird intensiv am Kopf und im Nackenbereich massiert, dabei können
          Sie sich richtig entspannen und wohlfühlen.
        </p>
      </AccordionItem>
      <AccordionItem title="Thai Fußmassage (nicht für Schwangere geeignet)"
        ><p>
          Unsere thailändische Fußreflexzonen-Massage wird teilweise mit Hilfe
          eines hölzernen Massagestabs durchgeführt, mit dem jeweils ein paar
          Sekunden langen Druck auf verschiedene Punkte am Fuß ausgeübt wird.
          Zusätzlich zu den Füßen massieren wir auch die Waden. Wir empehlen
          Ihnen die Fußmassge mit der anderen Massage zu kombinieren.
        </p>
      </AccordionItem>
    </div>
  </div>
  <svg
    viewBox="0 0 1440 192"
    xmlns="http://www.w3.org/2000/svg"
    class="absolute z-10 rotate-180 -bottom-[28px] sm:-bottom-[58px] md:-bottom-[98px] xl:-bottom-[168px]">
    <path
      fill="#f3f4f6"
      fill-opacity="1"
      d="
      M0,128
      L48,101.3
      C96,75,192,21,288,10.7
      C384,0,480,32,576,53.3
      C672,75,768,85,864,96
      C960,107,1056,117,1152,117.3
      C1248,117,1344,107,1392,101.3
      L1440,96
      L1440,192
      L0,192
      Z
    "
    ></path>
  </svg>
</section>
