---
import { Picture } from "astro:assets";
import Image1 from "../assets/31.png";
import Image2 from "../assets/Unbenannt-29.png";
import Image3 from "../assets/Unbenannt-27.png";
---

<section class="relative bg-[#f3f4f6] pt-12 pb-24">
  <div class="container mx-auto px-4 xl:px-[4%]">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
      <div
        class="card relative z-10 overflow-hidden shadow-xl rounded-3xl p-4 flex justify-center items-center h-80">
        <Picture
          src={Image2}
          alt="Genießen Sie eine traditionelle Thaimassage mit allen Sinnen."
          class="absolute inset-0 z-0 h-full w-full object-cover"
        />
        <p class="relative z-20 text-white text-center text-balance text-xl">
          Genießen Sie eine traditionelle Thaimassage mit allen Sinnen.
        </p>
      </div>

      <div
        class="card relative z-10 overflow-hidden shadow-xl rounded-3xl p-4 flex justify-center items-center h-80">
        <Picture
          src={Image1}
          alt="Spüren Sie die uralte Kraft der Thai-Massage..."
          class="absolute inset-0 z-0 h-full w-full object-cover"
        />
        <p class="relative z-20 text-white text-center text-balance text-xl">
          Spüren Sie die uralte Heilkraft der Thai-Massage und entspannen Sie
          Körper und Geist mit unseren vielen traditionellen Thai-Massagen.
        </p>
      </div>

      <div
        class="card relative z-10 overflow-hidden shadow-xl rounded-3xl p-4 flex justify-center items-center h-80">
        <Picture
          src={Image3}
          alt="Spüren Sie die uralte Kraft der Thai-Massage..."
          class="absolute inset-0 z-0 h-full w-full object-cover"
        />
        <p class="relative z-20 text-white text-center text-balance text-xl">
          Entdecken Sie die wahren Vorteile einer echten Thaimassage.
        </p>
      </div>
    </div>
  </div>
  <svg
    viewBox="0 0 1440 192"
    xmlns="http://www.w3.org/2000/svg"
    class="absolute z-10 rotate-180 -bottom-[58px] md:-bottom-[98px] xl:-bottom-[168px]">
    <path
      fill="#f3f4f6"
      fill-opacity="1"
      d="
      M0,128
      L48,101.3
      C96,75,192,21,288,10.7
      C384,0,480,32,576,53.3
      C672,75,768,85,864,96
      C960,107,1056,117,1152,117.3
      C1248,117,1344,107,1392,101.3
      L1440,96
      L1440,192
      L0,192
      Z
    "
    ></path>
  </svg>
</section>
